# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build artifacts
.idea/
build/
cmake-build-debug/
targets*/
/external/targets_nvenc
.vscode

# Editor files
*#*

# Media file
*.mp4
*.avi
*.mpg
*.raw
*.yuv
*.RAW
*.bgm
#*.png
*.pgm
*.bmp

imgui.ini


.vscode/
profile/
imgui.ini
cuda_debug.log
third_party/flatbuffers
*.sqlite
*.nsys-rep
