[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/IconFontCppHeaders"]
	path = third_party/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/imgui-filebrowser"]
	path = third_party/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "third_party/ImGuiFileDialog"]
	path = third_party/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
